*{
  margin:0;
  padding:0;
  font-family:'roboto',sans-serif;
}

.container{
   background-image:url("https://wallpapercave.com/wp/wp7820242.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  height:100vh;
  padding-left:8%;
  padding-right:8%;
  box-sizing:border-box;
}
.navbar{
   height:12%;
   display:flex;
   align-items:left;
}

nav{
   flex:1;
   text-align:left;
}
nav ul li{
   list-style:none;
   display:inline-block;
   margin-left:60px;
}
nav ul li a{
   text-decoration:none;
   color:#D81212;
   font-size:12px;
   text-shadow: 0 0 5px #D81212;
}
nav ul li:hover{
  box-shadow: 0px 0px 5px #D81212;
}
.row{
   display:flex;
   height:88%;
   align-items:left;
}
.col{
   flex-basis:50%;
}